@{
    Layout = "~/Views/QuanLy/_QuanLyLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to the Home Page</h1>
            <p>This is the home page of the QuanLy section.</p>
        </div>
    </div>